<div class="section-clients">
  <div class="section-title-clients">
    <h3>Our <br> Clients</h3>
  </div>
  <div class="clients-wrapper container">
    <div class="cards">
      <div class="client-card">
        <div class="clients-card-whiteborder">
          <div class="card-top">
            <div class="img-container">
              <%= image_tag 'clients-imgs/alev.jpg', class: "card-img card-img-1"%>
            </div>
          </div>
          <div class="card-bottom" id=card-1>
            <a class="client-name" href="https://www.alevlenz.com/" target="_blank">
              <h4>Alev Lenz</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="client-card">
        <div class="clients-card-whiteborder">
          <div class="card-top">
            <div class="img-container">
              <%= image_tag 'clients-imgs/anomalie-black.jpg', class: "card-img card-img-2"%>
            </div>
          </div>
          <div class="card-bottom" id=card-2>
            <a class="client-name" href="https://www.facebook.com/AnomalieBerlin/" target="_blank">
              <h4>Anomalie Art Club</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="client-card">
        <div class="clients-card-whiteborder">
          <div class="card-top">
            <div class="img-container">
              <%= image_tag 'clients-imgs/tresor_logo.png', class: "card-img card-img-3"%>
            </div>
          </div>
          <div class="card-bottom" id=card-3>
            <a class="client-name" href="https://tresorberlin.com" target="_blank">
              <h4>Tresor</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="client-card">
        <div class="clients-card-whiteborder">
          <div class="card-top">
            <div class="img-container">
              <%= image_tag 'clients-imgs/blue-sunday.jpg', class: "card-img card-img-4"%>
            </div>
          </div>
          <div class="card-bottom" id=card-4>
            <a class="client-name" href="https://www.facebook.com/fiestabluesunday/" target="_blank">
              <h4>Blue Sunday</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="client-card">
        <div class="clients-card-whiteborder">
          <div class="card-top">
            <div class="img-container">
              <%= image_tag 'clients-imgs/harsh-dinamics.jpg', class: "card-img card-img-5"%>
            </div>
          </div>
          <div class="card-bottom" id=card-5>
            <a class="client-name" href="https://soundcloud.com/harshdynamicsbln" target="_blank">
              <h4>Harsh Dynamics</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="client-card">
        <div class="clients-card-whiteborder">
          <div class="card-top">
            <div class="img-container">
              <%= image_tag 'clients-imgs/meoko.png', class: "card-img card-img-6"%>
            </div>
          </div>
          <div class="card-bottom" id=card-6>
            <a class="client-name" href="www.meoko.net" target="_blank">
              <h4>Meoko</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="client-card">
        <div class="clients-card-whiteborder">
          <div class="card-top">
            <div class="img-container">
              <%= image_tag 'clients-imgs/mixmag.png', class: "card-img card-img-7"%>
            </div>
          </div>
          <div class="card-bottom" id=card-7>
            <a class="client-name" href="https://mixmag.net/page/germany" target="_blank">
              <h4>Mixmag Germany</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="client-card">
        <div class="clients-card-whiteborder">
          <div class="card-top">
            <div class="img-container">
              <%= image_tag 'clients-imgs/randomberlin.png', class: "card-img card-img-8"%>
            </div>
          </div>
          <div class="card-bottom" id=card-8>
            <a class="client-name" href="https://www.instagram.com/random.berlin/" target="_blank">
              <h4>R a n d o m Berlin</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="client-card">
        <div class="clients-card-whiteborder">
          <div class="card-top">
            <div class="img-container">
              <%= image_tag 'clients-imgs/raveline.jpg', class: "card-img card-img-9"%>
            </div>
          </div>
          <div class="card-bottom" id=card-9>
            <a class="client-name" href="#" target="_blank">
              <h4>Raveline</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="client-card">
        <div class="clients-card-whiteborder">
          <div class="card-top">
            <div class="img-container">
              <%= image_tag 'clients-imgs/release-day.jpg', class: "card-img card-img-10"%>
            </div>
          </div>
          <div class="card-bottom" id=card-10>
            <a class="client-name" href="https://www.instagram.com/releasedaypodcast/" target="_blank">
              <h4>Release Day</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="client-card">
        <div class="clients-card-whiteborder">
          <div class="card-top">
            <div class="img-container">
              <%= image_tag 'clients-imgs/street-arte-ba.jpg', class: "card-img card-img-11"%>
            </div>
          </div>
          <div class="card-bottom" id=card-11>
            <a class="client-name" href="https://www.facebook.com/STREET.ARTE.BA/" target="_blank">
              <h4>Street Arte BA</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="client-card">
        <div class="clients-card-whiteborder">
          <div class="card-top">
            <div class="img-container">
              <%= image_tag 'clients-imgs/trashmission.jpg', class: "card-img card-img-12"%>
            </div>
          </div>
          <div class="card-bottom" id=card-12>
            <a class="client-name" href="https://www.mixcloud.com/TRASHMISSIONBerlin/trashmission-berlin-kat-kat-tat-invites-dj-raketka/" target="_blank">
              <h4>Trashmission</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="client-card">
        <div class="clients-card-whiteborder">
          <div class="card-top">
            <div class="img-container">
              <%= image_tag 'clients-imgs/trash-republique.jpg', class: "card-img card-img-13"%>
            </div>
          </div>
          <div class="card-bottom" id=card-13>
            <a class="client-name" href="https://www.facebook.com/trashrepublique/" target="_blank">
              <h4>Trash Republique</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="client-card">
        <div class="clients-card-whiteborder">
          <div class="card-top">
            <div class="img-container">
              <%= image_tag 'clients-imgs/sileo.jpg', class: "card-img card-img-14"%>
            </div>
          </div>
          <div class="card-bottom" id=card-14>
            <a class="client-name" href="https://www.sileohotel.com" target="_blank">
              <h4>Sileo Hotel</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="client-card">
        <div class="clients-card-whiteborder">
          <div class="card-top">
            <div class="img-container">
              <%= image_tag 'clients-imgs/inter.jpg', class: "card-img card-img-15"%>
            </div>
          </div>
          <div class="card-bottom" id=card-15>
            <a class="client-name" href="https://www.facebook.com/intercityinterciudad" target="_blank">
              <h4>Inter City</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="client-card">
        <div class="clients-card-whiteborder">
          <div class="card-top">
            <div class="img-container">
              <%= image_tag 'clients-imgs/airdrop.jpg', class: "card-img card-img-16"%>
            </div>
          </div>
          <div class="card-bottom" id=card-16>
            <a class="client-name" href="https://www.facebook.com/airdroprecords/" target="_blank">
              <h4>Airdrop<br>(Label)</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="client-card">
        <div class="clients-card-whiteborder">
          <div class="card-top">
            <div class="img-container">
              <%= image_tag 'clients-imgs/wilde.png', class: "card-img card-img-17"%>
            </div>
          </div>
          <div class="card-bottom" id=card-17>
            <a class="client-name" href="https://wildemoehrefestival.de/" target="_blank">
              <h4>Wilde Möhre</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="client-card">
        <div class="clients-card-whiteborder">
          <div class="card-top">
            <div class="img-container">
              <%= image_tag 'clients-imgs/igloo.png', class: "card-img card-img-18"%>
            </div>
          </div>
          <div class="card-bottom" id=card-18>
            <a class="client-name" href="https://www.igloorecords.be/" target="_blank">
              <h4>Igloo Records</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="client-card">
        <div class="clients-card-whiteborder">
          <div class="card-top">
            <div class="img-container">
              <%= image_tag 'clients-imgs/decisive.png', class: "card-img card-img-19"%>
            </div>
          </div>
          <div class="card-bottom" id=card-19>
            <a class="client-name" href="https://linktr.ee/Decisiveseries" target="_blank">
              <h4>Decisive</h4>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>